body {
    margin: 60px auto;
    width: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
a {
    text-decoration: none;
    color: #999;
    padding-left: 10%;
    padding-right: 10%;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding-left: 10%;
    padding-right: 10%;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    padding-left: 10%;
    padding-right: 10%;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding-left: 10%;
    padding-right: 10%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    width: 70%;
}

ul.posts li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


